#edit_portal_container{
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  background-color: #f1f1f1;
  flex-basis: 1;
}

#edit_portal_container div{
  margin: 0.5em;
}

#edit_portal_meta_info form{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

#edit_portal_meta_info form input[type="text"]{
  width: 90%;
}

.editing_portal{
  flex-grow: 4;

  display: flex;
  /*flex-direction: column;*/
  justify-content: flex-start;
  align-items: center;
  height: 45%;

}

.editing_portal_header{
  height: 100%;
  display: flex;
  align-items: center;
  padding-right:1%;
  width: 6%;
}

.editing_portal_content{
  height: 100%;
  width: 90%;
  border-left: 2px solid #6636b4;
  flex-grow: 1;
  padding: 0.25em 1em;
  background-color: rgba(215, 212, 240, 1);
}

.editing_portal_content #node_edit_form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 95%;
  height: 100%;
}

.editing_portal_content #edge_edit_form{
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.editing_portal_content #edge_edit_form select{
  width: 80%;
}

.editing_portal_content #node_edit_form textarea{
  width: 100%;
  height: 100%;
}


.editing_portal_content .scrolling_ul{
  height: 80%;
  overflow: auto;
}

.listed_edge_form{
  display: flex;
  flex-direction: row;
  max-width: 100%;

}

.save_delete_container{
  display: flex;
  justify-content: space-between;
}
